# ===== Python =====
.venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Environment variables =====
.env
.env.*

# ===== Database =====
educonnect.db
*.sqlite
*.sqlite3

# ===== Alembic =====
alembic/__pycache__/

